.content-meta {
  margin-top: 0;
  color: var(--darkgray);

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}

// lastUpdateAt
.content-meta-dates {
  display: inline-flex;
  align-items: center;
}

.content-meta-separator {
  color: var(--gray);
  margin: 0 4px;
}